
{{#each b in breadCrumbs}}



          {{#if b.isCurrent}}
            {{#link-to b.path}}{{b.name}}{{/link-to}}
          {{else}}
            {{#link-to b.path}}{{b.name}}{{/link-to}}
            &ensp;&bull;&ensp;
          {{/if}}



{{/each}}

