<panel class="panel">
    <div class="panel-heading">
        <h4>{{display}}
        </h4>
    </div>

    <div class="panel-body">
  <table class="table">
    {{#if hasProperties}}
      <tr>
          <th></th><th>Name</th><th>Wert</th>
      </tr>
    {{/if}}
    {{#each property in properties itemController='property'}}
        <tr>
            <td>{{input type="checkbox" name="selection" checked=property.selected disabled=property.isEditing}}</td>
            <td><label>{{property.name}}</label></td>
            {{!--<td>{{input type="text" class="edit" value=m.value focus-out="" insert-newline="" readonly=true}}</tc> --}}
            <td>
              {{#if property.isEditing}}
                {{input class=form-control type="text" value=property.value action='endEditProperty' focus-out="endEditProperty" double-Click="endEditProperty" width=100}}
              {{else}}
                 <label {{action "editProperty" property on="doubleClick"}}>{{property.value}}</label>
              {{/if}}
            </td>
        </tr>
    {{/each}}
    {{#if isAdding}}
        <tr>
            <form {{ action 'update' on='submit' }} class="form-horizontal" role="form">
                <td></td>
                <td>
                    {{input class="form-control" type="text" placeholder="Neuen Namen angeben" value=newName}}
                </td>
                <td>
                     {{input class="form-control" type="text" placeholder="Neuen Wert angeben" value=newValue insert-newline="createProperty"}}
                </td>
                <td><button class="btn" {{ action 'createProperty'}}>OK</button>
            </form>
        </tr>
    {{/if}}
  </table>
      </div>
    <div class="panel-footer">
      <button type="submit" class="btn" {{ action 'addProperty' }}>
          Neu
      </button>
     <button type="submit" class="btn" {{ action 'deleteProperty' }} {{ bind-attr disabled=hasNoSelectedProperties}} >
         Löschen
     </button>
    </div>
</panel>




