<h1>Und hier bitte Details für die gewählte Kategorie</h1>

<h6>{{name}}</h6>

<table class="table">
    {{#each m in model}}
      <tr>
          <td>{{m.id}}</td><td>{{m.name}}</td>
      </tr>
    {{/each}}
</table>

