<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="tab-01">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            red.web-Server
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tab-01">
                    <div class="panel-body">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary" {{ action 'version' }}>
                                  Version
                                </button>
                            </div>
                            {{input readonly="readonly"
                                    class="form-control"
                                    type="text"
                                    value=version_info}}
                        </div>
                        <br>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary" {{ action 'builddate' }}>
                                    Build Date
                                </button>
                            </div>
                          {{input readonly="readonly"
                                  class="form-control"
                                  type="text"
                                  value=build_info}}
                        </div>

                        <br>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary" {{ action 'serverstate' }}>
                                    Server State
                                </button>
                            </div>
                          {{input readonly="readonly"
                          class="form-control"
                          type="text"
                          value=server_state}}
                        </div>

                        <br>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary" {{ action 'systemconfiguration' }}>
                                    System Configuration
                                </button>
                            </div>
                          {{input readonly="readonly"
                          class="form-control"
                          type="text"
                          value=system_configuration}}
                        </div>

                        <br>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary" {{ action 'echo' }}>
                                    Echo
                                </button>
                            </div>
                          {{input
                          class="form-control"
                          type="text"
                          value=echofon}}
                        </div>


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">

    </div>
</div>

