
{{#if showNavbar}}




    <nav class="navbar navbar-default navbar-redweb navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
              {{#link-to 'dashboard' class='navbar-brand' }}
                  &ensp;red.web - Startup
              {{/link-to}}
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li>
                  {{#link-to 'dashboard'}}
                      <i class="fa fa-home fa-lg"></i>&nbsp;
                      Start
                  {{/link-to}}
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown" >




                    <a href="#" class="navbar-avatar dropdown-toggle" data-toggle="dropdown">
                      {{#if hasGravatar}}
                        {{gravatar-image user=currentUser}}&nbsp;
                      {{else}}
                          <i class="fa fa-user fa-lg"></i>&nbsp;
                      {{/if}}

                      {{ currentUser.printableName }}
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <li>
                          {{#link-to 'about'}}
                              <i class="fa fa-cog"></i> Über startup
                          {{/link-to}}
                        </li>
                        <li>
                          {{#link-to 'settings'}}
                              <i class="fa fa-cog"></i> Einstellungen
                          {{/link-to}}
                        </li>
                        <li>
                          {{#link-to 'admin'}}
                              <i class="fa fa-cog"></i> Administration
                          {{/link-to}}
                        </li>
                        <li>
                          {{#link-to 'categories'}}
                              <i class="fa fa-cog"></i> redweb.xml
                          {{/link-to}}
                        </li>
                        <li>
                          {{#link-to 'language'}}
                              <i class="fa fa-cog"></i> Sprachen
                          {{/link-to}}
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" {{ action 'logout' }}>
                                <i class="fa fa-sign-out"></i> Abmelden
                            </a>
                        </li>
                    </ul>




                </li>
            </ul>
        </div>

      {{bread-crumbs}}
    </nav>
{{/if}}

{{ outlet }}



