<div class=''>
    <div class='col-sm-3 sidebar'>
      <div>
          <button type="submit" class="btn" {{ action 'readXML' }} >
              XML einlesen
          </button>
      </div>
      <div class="list-group">
        {{#each category in controller}}
          <span  {{action "selectCategory" category}}>
            {{#link-to 'categories.category' category classNames='list-group-item'}}{{category.display}} ({{category.name}}){{/link-to}}
          </span>
        {{/each}}
      </div>
      <span>
      <div>
        {{input class=form-control type="text" id="new-category" placeholder="Neue Kategorie erzeugen" value=newCategory action="createCategory"}}
      </div>
      <div>
          <button type="submit" class="btn" {{ action 'deleteCategory' }} {{ bind-attr disabled=hasNoSelectedCategory}} >
            Kategorie löschen
        </button>
      </div>
      </span>
    </div>
    <div class='col-sm-9 col-sm-offset-3'>
        {{outlet}}
     </div>
</div>
