<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <div class="list-group">
          <li class="list-group-item">
              {{#link-to 'config.detail' 'abschnitt1' }} Abschnitt 1 {{/link-to}}
          </li>
          <li class="list-group-item">
            {{#link-to 'config.detail' 'abschnitt2' }} Abschnitt 2 {{/link-to}}
          </li>
          <li class="list-group-item">
            {{#link-to 'config.detail' 'abschnitt3' }} Abschnitt 3 {{/link-to}}
          </li>
      </div>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
      {{outlet}}
    </div>
</div>

