<h1>Sprachen</h1>

{{view "select" content=model
                selection=selectedLanguage
                optionValuePath="content.id"
                optionLabelPath="content.name"}}


<table class="table">
    {{#each m in model}}
    <tr>
        <td>{{m.id}}</td>
        <td>{{m.name}}</td>
        <td>{{m.shortname}}</td>
    </tr>

    {{/each}}
  {{#if isEditing}}
      <tr>
          <form {{ action 'update' on='submit' }} class="form-horizontal" role="form">
              <td>
                  <div class="form-group">
                      <label for="name" class="col-sm-3 control-label">Name</label>
                      <div class="col-sm-8">
                        {{input
                        class="form-control"
                        type="text"
                        value=name}}
                      </div>
                  </div>
              </td>
              <td>
                  <div class="form-group">
                      <label for="name" class="col-sm-3 control-label">Kürzel</label>
                      <div class="col-sm-8">
                        {{input
                        class="form-control"
                        type="text"
                        value=shortname}}
                      </div>
                  </div>
              </td>
          </form>
      </tr>
  {{/if}}

</table>

<button type="submit" class="btn btn-primary" {{ action 'add' }}>
    Neu
</button>
<button type="button" class="btn btn-link" {{ action 'commit' }}>
    Übernehmen
</button>

{{!--
{{#if isEditing}}
    <form {{ action 'update' on='submit' }} class="form-horizontal" role="form">
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-8">
              {{input
              class="form-control"
              type="text"
              value=name}}
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">Kürzel</label>
            <div class="col-sm-8">
              {{input
              class="form-control"
              type="text"
              value=shortname}}
            </div>
        </div>
    </form>
{{/if}}


--}}
